.App {

}

.navBar{
    height: 100vh;
    width: 4%;
    display: flex;
    flex-direction: column;
    background-color: rgb(5, 73, 36);
}

.menuBtn{
    height: 10%;
    width: 100%;
    /* background-color: yellow; */
}

.navBarItem{
    height: 90%;
    width: 100%;
    background-color: black;
}

.downloadBtn{
    height: 10%;
    width: 100%;
    /* background-color: red; */
}