/* --------------------------- Navigation Bar--------------------------------- */
.navBar{
    height: 100vh;
    width: 4%;
    display: flex;
    flex-direction: column;
    background-color: rgb(5, 73, 36);
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    position: absolute;
    z-index: 200;
}

.navBarActive{
    width: 20%;
}

.menuBtn{
    height: 50px;
    width: 100%;
    color: white;
    background-color: #50b280;
    display: flex;
    flex-direction: row-reverse;
}

.menuBtnContainer{
    top:10px;
    position: relative;
    right: 10px;
}

.navBarMain{
    height: 84vh;
    width: 100%;
    background-color: #1a1a1a;
    align-items: center;
    display: flex;
}

.navBarItemContainer{
    width: 100%;
    /* height: 200px; */
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
}

.navBarItem{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navBarItem:active{
    color: green;
}

.navBarItem:hover{
    z-index: 300;
    position: static;
    width: 200px;
}

.downloadBtn{
    height: 50px;
    width: 100%;
    background-color: #50b280;
    position: inherit;
    bottom: 0px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.downloadBtnContainer{
    margin-left: 10px;
    align-items: center;
    display: flex;
}

.downloadBtn>a{
    color: white;
    text-decoration: none;
}

/* ---------------------------- Content Area ------------------------------- */
.contentArea{
    background-color: #1a1a1a;
    height: 100vh;
    width: 100vw;
}