/* --------------------------- Navigation Bar--------------------------------- */
.navBar{
    height: 100vh;
    width: 4%;
    display: flex;
    flex-direction: column;
    background-color: rgb(5, 73, 36);
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    position: absolute;
    z-index: 200;
}

.navBarActive{
    width: 20%;
}

.menuBtn{
    height: 50px;
    width: 100%;
    color: white;
    background-color: #50b280;
    display: flex;
    flex-direction: row-reverse;
}

.menuBtnContainer{
    top:10px;
    position: relative;
    right: 10px;
}

.navBarMain{
    height: 100vh;
    width: 100%;
    background-color: #1a1a1a;
    align-items: center;
    display: flex;
}

.navBarItemContainer{
    width: 100%;
    /* height: 200px; */
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
}

.navBarItem{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navBarItem:active{
    color: green;
}

/* .navBarItem:hover{
    z-index: 300;
    position: static;
    width: 250px;
    background-color: #ffffff;
} */

.downloadBtn{
    height: 50px;
    width: 100%;
    background-color: #50b280;
    /* position: inherit;
    bottom: 0px; */
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.downloadBtnContainer{
    margin-left: 10px;
    align-items: center;
    display: flex;
}

.downloadBtn>a{
    color: white;
    text-decoration: none;
}

/* ---------------------------- Content Area ------------------------------- */
.contentArea{
    background-color: #272727;
    height: 100vh;
    min-width: calc(100vw - 4%);
    right: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}



/* ----------------------------- About Me page ---------------------------------------- */
.aboutMeContainer{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.snapshotContainer{
    width: 41%;
    height: 100vh;
    /* background-color: blue; */
    margin-left: 10px; /*remove this line if dont want the space between navigation bar and snapshot picture*/
}

.snapshotInfo{
    width: inherit;
    height: 15%;
    position: absolute ;
    bottom: 0;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background-color: #272727;
    opacity: 80%;
}

.nameText{
    font-weight: bold;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.title{
    color: #50b280;
    font-size: 20px;
    margin-bottom: 5px;
}

.socialContainer{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
    align-self: center;
}

.socialPlatform{
    color: #ffffff;
    margin-right: 10px;
}